@font-face{
	font-family:nursy;
	src: url('../fonts/proxima-light.otf') format("opentype");
}

html {
	font-family:nursy;
}

/** sticky footer
body {
	display:flex;
	min-height:100vh;
	flex-direction:column;
}

#main {
	flex:1 0 auto;
} **/

/*CONTAINER OVERIDE*/
.container {
  padding: 0 0.5em;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

/*SECTION OVERIDE*/
.section {
	padding: 0em 0.7em;
}

/* HEADINGS */
.h1{font-size:2.5em;}
.h2{font-size:2em;}
.h3{font-size:1.9em;}
.h4{font-size:1.7em;}
.h5{font-size:1.2em; font-weight: lighter;}


/* ----------------FRONTEND---------------*/
				/*buttons*/
.btn-transparent { background-color: transparent; border-radius: 50px; border:2px solid #fff;}
.btn-radius {  border-radius: 50px; } #frontend .btn-block {  width: 100%; }
.btn {  margin: 10px 0 10px 0; }
.padding-left { padding-left: 9%; }
.padding-right { padding-right: 9%; }
.padding-top.half { padding-top: 2%; }
.icon-circle { height: 60px; width: 60px; border-radius: 50%; border:2px solid #fff; display: block; color:#fff; text-align: center; padding: 15px 0 0 0;}

.g-recaptcha {
	transform:scale(0.77);
	-webkit-transform:scale(0.77);
	transform-origin:0 0;
	-webkit-transform-origin:0 0;
}

#frontend .content-1 {
	background-image: url('../images/background/bg-4.jpg');background-size: cover;background-position: center center;
	height: auto; padding: 12% 0 10% 0;
	margin-top: -5em;
}

#frontend .content-2 {
	background-color:#fff;
	height: auto; padding: 5% 0 5% 0;
}

#frontend .content-2 .images {
	height: 250px;
	background-size: cover; background-position: center;

}

#frontend .content-5 {
	background-image: url('../images/background/bg-2.jpg');background-size: cover;background-position: center center;
	background-color:#222;
	height: auto; padding: 5% 0 1% 0;

}

#frontend .content-4 {
	background-color:#fff;
	height: auto; padding: 5% 0 5% 0;

}



#frontend .content-3 {
	background-color:#3498db;
	height: auto; padding: 5% 0 5% 0;

}

#frontend .content-6 {
	background-image: url('../images/background/bg-3.jpg');background-size: cover;background-position: center center;
	background-color:#fff;
	height: auto; padding: 5% 0 5% 0;

}

/* FOOTER */
#footer .radius { border-radius: 50px; }
#footer .center-text { text-align: center; }

#footer {
	padding: 0px;
}


#footer .content-1 {
	background-color:#222;
	height: auto; padding: 5% 0 5% 0;

}

#footer .content-2 {
	background-color:#111;
	height: auto; padding: 1.5% 0 0.5% 0;

}

#footer .input-field label {
 	color: #000;
}
/* label focus color */
#footer .input-field input[type=text]:focus + label {
 color: #000;
}
/* label underline focus color */
#footer .input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
#footer .input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
#footer .input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
#footer .input-field .prefix.active {
 color: #000;
}

#footer .navigation li {
	border-left: 3px solid #03a9f4;
	padding: 5px 20px 5px 20px;
}

#footer .navigation li a {
	 font-weight: 500;
}

/*  NAVIGATIO SIDEBAR */

.side-nav a {
	padding: 10px;
	height: auto;
}

#login {
	padding: 5% 0 10% 0;
	background-color:#eee;
	background-image: url('../images/background/bg-2.jpg');
	background-size: cover;
	background-position: center;
	color:#fff;
}
.login-form {
  width: 450px;  
}
.login-form-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
}
.profile-image-login{
  width: 100px;
  height: 100px !important;
}

.login-text {
  margin-top: -6px;
  margin-left: -6px !important;
}

/* REGISTER */
#register {
	padding: 5% 0 10% 0;
	background-color:#eee;
	background-image: url('../images/background/bg-2.jpg');
	background-size: cover;
	background-position: center center;
	color:#fff;
}

/* FORGOT PASSWORD */
#forgot_pass {
	padding: 5% 0 10% 0;
	background-color:#eee;
	background-image: url('../images/background/bg-2.jpg');
	background-size: cover;
	background-position: center center;
	color:#fff;
}


/* profile css */
#profile .profile-image {
	height: 125px; width: 125px;
	background-size: cover; background-position: center; background-color: #eee;
	border:1px solid #eee; border-radius: 50%; display: block;
}

#profile .profile-image .edit_image {
	display: none;
}

#profile .profile-image:hover > .edit_image {
	display: block;
}

#user {
	padding: 1em;
}
#user #divhr {
	margin-bottom:1em;
}

/* PATIENT ACCOUNT*/
#user #nurse_card {
	padding:20px 0px 5px 0px;
	background:url('../images/background/cross.jpg') no-repeat center;
}

#user.container {
  padding: 0 0.5em;
  margin: 0 auto;
  max-width: 100% !important;
  width: 100%;
}

#user .padding-5 {
	padding:5px 10px !important;
	line-height: 15px;
}

#user .padding-0 {
	padding:0px !important;
}

#user .no-border {
	border-left: 0px solid #fff;
	border-right: 0px solid #fff;
	border-top: 0px solid #fff;

}

#user .img-list {
	height: 50px; width: 50px;
	background-size: cover;
	background-position: center;
	border: 1px solid #eee;
	border-radius: 50%;
}

#user .status {
	width:14px; height:14px;border-radius: 50%;float: left;margin-left: 3px;margin-right:3px;border:3px solid #fff; position: absolute;
}

#user .collection #calendar-container {
	padding:0;
}

/* ADMIN */
/*Nurse List*/
#work-collections #nurseList .row-item {
	padding: 0px 0px 0px 0px !important;
}
#work-collections #nurseList #list-container {
	height: 340px;overflow-y:auto;
}
#work-collections #nurseList .empty-label {
	padding:100px 0px 0px 0px;
}
#work-collections #nurseList #list-container .collection {
	margin: 0px;border: none;
}
#work-collections #nurseList .valign-wrapper {
	margin-bottom:0px;
}
#work-collections .nurse-item .nurseDP{
	width:75px;height:75px;
}

/* Patient Lit */
#work-collections #patientList .row-item {
	padding: 0px 0px 0px 0px !important;
}
#work-collections #patientList #list-container {
	height: 340px;overflow-y:auto;
}
#work-collections #patientList .empty-label {
	padding:100px 0px 0px 0px;
}
#work-collections #patientList #list-container .collection {
	margin: 0px;border: none;
}
#work-collections #patientList .valign-wrapper {
	margin-bottom:0px;
}
#work-collections .patient-item .patientDP{
	width:75px;height:75px;
}